<p>Look, I know how it is.</p>
<p> I do. </p>
<p> But there's a selection bias if you don't do what you're supposed to. </p>
<p> Let's take in its for instance, the test of "Does this new workout routine X make me more sore?" </p>
<p> Obviously, you'll be most tempted to not follow the directions if you have a hunch about the answer, and are sore already. After all, you don't want to be more sore. Maybe, even, you take the day off. </p>
<p> So your hunch tells you to wait on the days where you are sore if it's a 'heavy' exercise day. But soreness compounds over days! So the heavy days no longer make you as sore (as you are quite well rested). And the data is lost. </p>
<p> Don't worry, we know what's going on, this won't disturb your experiment's results at all. We're professionals, we do math at it, and we have your back. But this <em>does</em> mean you have to go back and get some more data, though. </p>
<p> Keep up the good fight. </p>