<p>Did <%= @trial.outcome %> occur?</p>
<%= button_to "#{@trial.outcome} Happened", 
	{:action => "update", :id => @trial.id, :controller => "trials", :params => {:outcome_good => true}},
  :method => :put, :class => "finished-with-outcome btn btn-primary" %>
<%= button_to "#{@trial.outcome} Didn't Happen", 
	{:action => "update", :id => @trial.id, :controller => "trials", :params => {:outcome_good => false}},
  :method => :put, :class => "finished-with-outcome btn btn-inverse" %>
